h3{
  text-align: left;
  color: #333333;
  font-weight: bold;
  width: 100%;
  padding-left: 40px;
  padding-top: 20px;
}
.scroll{
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  display: none;
}

h6{
  transition: .5s;
}

h6:hover{
  color: #333333;
}
