<div id="root">
  <div id="csiDetails">
    <h3 id="csiNameHeader">Name:</h3>
    <h4 id="csiName"></h4>
    <h3 id="csiEmailHeader">Email:</h3>
    <h4 id="csiEmail"></h4>
    <h3 id="csiDescriptionHeader">Description:</h3>
    <p id="csiDescription"></p>
    <h3 id="csiVenueHeader">Venue:</h3>
    <h4 id="csiVenue"></h4>
  </div>
  <div id="forum">
    <router-outlet name="routerForum"></router-outlet>
  </div>
  <div id="events">
    <div id="exampleEvent">
      <h5 id="exampleEventName">Example Event Name</h5>
      <h6 id="exampleEventDate">31 December 2020</h6>
    </div>
  </div>
</div>


