<div id="root">
  <img id="group" src="../assets/group.png">
  <div id="csiDetails">
    <h3 id="csiNameHeader">Name</h3>
    <h4 id="csiName"></h4>
    <h3 id="csiEmailHeader">Email</h3>
    <h4 id="csiEmail"></h4>
    <h3 id="csiDescriptionHeader">Description</h3>
    <p id="csiDescription"></p>
    <h3 id="csiVenueHeader">Venue</h3>
    <h4 id="csiVenue"></h4>
  </div>
  <div id="forum">
    <router-outlet name="routerForum"></router-outlet>
  </div>
  <div id="events">
    <div id="exampleEvent">
      <h5 id="EventNameHeader">Event</h5>
      <h6 id="eventName"></h6>
      <h6 id="EventDateHeader">Event Date</h6>
      <h7 id="EventDate"></h7>
    </div>
  </div>
</div>


