#csiBar{
  background-color: #E1EFF4;
  stroke: rgba(112,112,112,1);
  border-radius: 25px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #5F5C6C;

  width: 1250px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
  border-style: ridge;
  border-color: #707070;
  border-width: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  cursor: default;

  opacity: 95%;

}

.box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px 2em;
}

#csiBar.scroll{
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  display: none;
}

h3{
  color: #333333;
  text-align: left;
  display: block;
  width: 100%;
  line-height: 65px;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
}

#clubList{
  background-color: white;
  color: #707070;
  overflow: auto;
  border-radius: 25px;
  user-select: none;
  transition: .5s;
  outline: 0;
}

#clubList:hover{
  background: #818181;
  opacity: 75%;
  color: white;
}

#societyList{
  background-color: white;
  color: #707070;
  overflow: auto;
  border-radius: 25px;
  user-select: none;
  transition: .5s;
  outline: 0;
}

#societyList:hover{
  background: #818181;
  opacity: 75%;
  color: white;
}

#interestGroupList{
  color: #707070;
  background-color: white;
  overflow: auto;
  border-radius: 25px;
  user-select: none;
  transition: .5s;
  outline: 0;
}

#interestGroupList:hover{
  background: #818181;
  opacity: 75%;
  color: white;
}
