<div id="csiBar" class="container">
  <div class="row">
    <div id="clubs" class="col-md-6 col-lg-4 mb-5">
      <div class="card border-left-primary shadow h-100 py-2">
        <h3>Clubs</h3>
        <div class="cardbody">
          <div id="clubList"></div>
        </div>
      </div>
    </div>
    <div id="societies" class="col-md-6 col-lg-4 mb-5">
      <div class="card border-left-primary shadow h-100 py-2">
        <h3>Societies</h3>
        <div class="cardbody">
          <div id="societyList"></div>
        </div>
      </div>
    </div>
    <div id="interestGroups" class="col-md-6 col-lg-4 mb-5">
      <div class="card border-left-primary shadow h-100 py-2">
        <h3>Interest Groups</h3>
        <div class="cardbody">
          <div id="interestGroupList"></div>
        </div>
      </div>
    </div>
  </div>
</div>
