#csiBar{
  background-color: #E1EFF4;
  stroke: rgba(112,112,112,1);
  border-radius: 25px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #5F5C6C;

  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
  border-style: ridge;
  border-color: #707070;
  border-width: 1px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;

  opacity: 95%;

}

#clubList{
  background-color: white;
  overflow: auto;
  border-radius: 25px;
  user-select: none;
  transition: .5s;
  outline: 0;
}

#clubList:hover{
  background: #FFD700;
  opacity: 75%;
  color: blue;
}

#societyList{
  background-color: white;
  overflow: auto;
  border-radius: 25px;
  user-select: none;
  transition: .5s;
  outline: 0;
}

#societyList:hover{
  background: #FFD700;
  opacity: 75%;
  color: blue;
}

#interestGroupList{
  background-color: white;
  overflow: auto;
  border-radius: 25px;
  user-select: none;
  transition: .5s;
  outline: 0;
}

#interestGroupList:hover{
  background: #FFD700;
  opacity: 75%;
  color: blue;
}

#group{
  width: 150px;
  height: 150px;
}


