html{
  font-family: Arial;
  cursor: default;
}
::selection{
  color: none;
  background: none;
}
::-moz-selection{
  color: none;
  background: none;
}

body{
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
