<p>csi-forum-create-topic works!</p>
<div i="root">
  <h3 id="topicTitle"></h3>
  <p id="topicGuideline">Please enter your topic name and your message below.</p>
  <div id="topicDetailsDiv">
    <h4 id="TopicNameHeader">Topic Name:</h4>
    <input type="text" id="topicNameInput" placeholder="Topic Name">

    <h4 id="TopicMessageHeader">Message:</h4>
    <input type="text" id="topicMessageInput" placeholder="Message" rows="4" cols="50">

    <button id="submit" (click)="submitTopic()"></button>
  </div>
</div>
