
#divLogin{
  background-color: #E1EFF4;
  stroke: rgba(112,112,112,1);
  border-radius: 25px;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #5F5C6C;

  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  border-style: ridge;
  border-color: #707070;
  border-width: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
}

#appSidebar{
  display: none;
}

#password{
  position: relative;
  border: none;
  outline: none;
  background-color: #BFBFBF;
  border-radius: 25px;
  text-align: -moz-center;
  border: #707070;
  width: 200px;
  height: 35px;

  left: 11px;

  background-image: url('src/assets/icon.png');
  background-position: 10px 5px;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 40px;


  transition: .3s;
}
#password::selection{
  background: deepskyblue;
  color: aliceblue;
}

#username{
  background-color: #BFBFBF;
  border-radius: 25px;
  outline: none;
  text-align: -moz-center;
  border: #707070;
  width: 200px;
  height: 35px;

  font-family: 'poppins', sans-serif;

  background-image: url('src/assets/loginicon.png');
  background-position: 10px 5px;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
#username::selection{
  background: deepskyblue;
  color: aliceblue;
}

#eye{
  position: relative;
  right: 25px;
  top: 7px;
}

button{
  position: relative;
  outline: none;
  width: 100px;
  height: 60px;
  top: 10px;
  left: 15px;
  border-radius: 25px;
  border-style: hidden;

  background-image: url("src/assets/background.png");
  background-size: 200%;

  font-family: 'poppins', sans-serif;

  transition: .5s;
}

button:hover{
  background-position: left;
}

#register{
  display: table;
  outline: none;
  text-align: left;
  color: #00BFFF;
}

#register:hover{
  color: #3E2F91;
}

#lblForUsername{
  position: relative;
  display: table;
  left: 625px;
  text-emphasis: none;
  outline: none;
  font-size: 0.9rem;
  color: #3E2F91;
}

#lblForUsername:hover{
  color: #00BFFF;
}

@media screen and (max-width: 1050px) {
  .container{
    grid-gap: 5rem;
  }
}
