<div id="divLogin">
  <div id="loginTitle">
    <h1>Welcome To Linking You</h1>
  </div>
  <br><br>
  <div id="credentials">
    <br>
    <h2>Email:</h2>
    <input  type="text" id="email" name="email" autocomplete="on" placeholder="Email">
    <br><br>
    <h2>Password:</h2>
    <input type="password" id="password" name="password" autocomplete="off" placeholder="Password">
    <i class="material-icons" (click)="togglePassword()" id="eye">visibility_off </i>
    <br>
    <br><br>
    <button type="button" id="signIn" (click)="login()">SIGN IN</button>
    <br>
    <p id="forgotPassword" (mouseup)="forgot(false)" (mousedown)="forgot(true)">Forgot Password?</p>
    <br>
    <div id = "register" type="text" routerLink="/register" routerLinkActive="active">REGISTER</div>

  </div>
</div>
