<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

<input type=checkbox id = "check">
<label for="check">
  <i class="fas fa-bars" id="bar"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>

<div class="image"></div>

<div id="sidebarDrawer" class="sidebar">
  <header>Menu</header>
  <ul>
    <li><a [routerLink]="['/sidebar',{outlets:{routerSidebar:'welcome'}}]" routerLinkActive="active" (click)="sidebarClose()"><i class="fas fa-qrcode"></i>Dashboard</a></li>
    <li><a [routerLink]="['/sidebar',{outlets:{routerSidebar:'csi'}}]" routerLinkActive="active" (click)="sidebarClose()"><i class="fas fa-object-group"></i>CSI</a></li>
    <li><a [routerLink]="['/sidebar',{outlets:{routerSidebar:'userPage'}}]" routerLinkActive="active" (click)="sidebarClose()"><i class="far fa-question-circle"></i>User Profile</a></li>
    <li><a [routerLink]="['/sidebar',{outlets:{routerSidebar:'csiSubmissionForm'}}]" routerLinkActive="active" (click)="sidebarClose()" id="createCSI"><i class="fas fa-plus"></i>Create CSI</a></li>
    <li><a [routerLink]="['/sidebar',{outlets:{routerSidebar:'adminCsiForm'}}]" routerLinkActive="active" (click)="sidebarClose()" id="adminCsiForm"><i class="fas fa-plus"></i>CSI Authorisation</a></li>
    <li><a (click)="logout()"><i class="fas fa-sign-out-alt"></i>Sign out</a></li>

  </ul>
  <br>
  <br>
  <!--<a [routerLink]="['/sidebar',{outlets:{routerSidebar:'userPage'}}]">User Profile Page</a>-->
  <!--<a (click)="viewProfile()">User Profile Page</a>-->

</div>
<router-outlet name="routerSidebar"></router-outlet>
